body{
  font-family: Amiri,sans-serif;
  style="background-color: beige;"
}
.container{
display: flex;
direction: rtl;
}

.navigation{
    border: 2px solid rgba(21, 255, 0, 0.158);
    background-color: rgba(12, 100, 15, 0.1);
    padding: 20px;
    font: Amiri;
    font-size: large;
    width: 15%;
    text-align: center;
}
.main{
    border:2px solid rgb(128, 109, 0.1);
    background-color: rgba(214, 149, 27, 0.151);
    flex-grow: 1;
    text-align: center;

}

.img1{
    width:80%;
    height: auto;
    padding: 10px;
    
}
.img2{
    width:80%;
    height: auto;
    padding: 20px;
    margin: 10px;
}
.title{
    font-size: xx-large;
    background-color: rgba(111, 214, 27, 0.068);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li a {
    display: block;
    width: 100%;
  }